.home {
  background-color: rgb(103, 214, 175) !important;
  margin: 5px;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  /* flex-wrap: nowrap;
  flex-direction: row; */
}
.todolist {
  background-color: rgb(4, 49, 52) !important;
  color: black;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 15px rgb(253, 251, 251);
  animation: rotation 5s linear infinite;
}
h1 {
  color: burlywood;
  animation: rotation 10s linear infinite;
}
.addtodo {
  background-color: rgb(88, 49, 155) !important;
  color: rgb(232, 209, 227);
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 15px rgb(253, 251, 251);
  animation: blinker 5s linear infinite;
}
.todoitem {
  background-color: rgb(212, 255, 240) !important;
  margin: 10px;
  padding: 5px;
  animation: rotation 1s linear infinite;
}
